<button type="submit" class="btn btn-outline-success btn-sm fw-bold border-2">
    <i class="bi bi-check-circle me-1"></i>
    <span class="d-none d-sm-inline">{{ label|default('Submit') }}</span>
</button>
